/* Formulario de productos */

body {
    font-family: Arial, sans-serif;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  button {
    padding: 5px 10px;
  }
  
  #product-list {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item {
    margin-bottom: 10px;
  }
  
  .product-item span {
    margin-right: 10px;
  }
  
  .product-item button {
    margin-left: 10px;
  }